<template>
  <div class="art">
    <ul>
      <li v-for="item in list" :key="item.id">
      <div class="left">
        <h5>
          {{ item.title }}
        </h5>
        <p>
          {{ item.updateAt.toLocaleString() }}
        </p>
      </div>
        <p>
          <span>赞: {{ item.likes }}</span>
          <span>浏览: {{ item.views }}</span>
        </p>
      </li>
    </ul>
    <div></div>
  </div>
</template>
<script setup lang="ts">
import useStore from "@/stores"
import { storeToRefs } from "pinia"
import { onMounted } from "vue"

const store = useStore()
const { list } = storeToRefs(store)
const newList = "2022-08-17T11:46:35.000Z"
const arr = newList.toLocaleString()
console.log(arr, "000")

const init = () => {
  store.getDataList()
}
onMounted(() => {
  init()
})
</script>

<style lang="less" scoped>
.art {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 10px;
  background: var(--bg-color);
  ul {
    width: 69%;
    height: 70%;
    background: #fff;
    margin-right: 1%;
    li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      padding: 5px;
      span {
        margin: 0 5px 0 0;
      }
    }
    .left{
      width: 100%;
      display: flex;
      h5{
        margin-right: 20px;
      }
    }
  }
  div {
    width: 30%;
    height: 40%;
    background: #fff;
  }
}
</style>
