/
<template>
  <div class="header">
    <div class="container">
      <div>
        <!--基础导航-->
        <!-- <router-link :to="val.path" v-for="val in navData" :key="val.path">{{
          val?.meta?.title
        }}</router-link> -->
        <router-link to="/home/article">文章</router-link>
        <router-link to="/home/archive">归档</router-link>
        <router-link to="/home/kbrochure">知识小测</router-link>
        <!--动态请求的导航-->
        <router-link
          v-for="val in navList"
          :key="val.id"
          :to="'/page/' + val.path"
        >
          {{ val.name }}
        </router-link>
      </div>
      <div>
        <a-button>中英文</a-button>
        <a-button @click="handleChangeTheme">主题切换</a-button>
        <a-button>登录</a-button>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import useStore from '@/stores';
import { storeToRefs } from "pinia"
import { ref, computed, onMounted } from "vue"
// import { useRouter } from "vue-router"
// const {
//   options: { routes },
// } = useRouter()
const store = useStore()
const { navList } = storeToRefs(store)
const iconName = ref("light-icon")
// const navData = computed(() => {
//   return routes.filter((item) => item?.meta?.nav)
// })

const init = () => {
  store.getNavData()
}
onMounted(() => {
  init()
})
const handleChangeTheme = () => {
  // 切换:root的class
  document.documentElement.classList.toggle("dark")
  // iconName.value = document.documentElement.classList.contains("dark")
  //   ? "dark-icon"
  //   : "light-icon"
}
</script>

<style lang="less" scoped>
.header {
  height: 64px;
  // background: var(--bg-color);
  background: #fff;
  // background:var(--bg-color);
  border-bottom: 3px solid var(--border-color);
  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 22px;
    div {
      width: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    .right {
      width: 45%;
    }
  }
}
</style>
