* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

html,
body,
#app,
#root {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media (min-width: 990px) {
    .container {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

.home {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    main {
        flex: 1;
        background: var(--bg-color);

        .art {
            li {
                h5:hover {
                    color: red
                }
            }
        }

    }
}