:root{
  --border-color:#e8ebe5;
  --bg-color:#ccc;
}
:root.dark{
  --border-color:#e5e6eb;
  --bg-color:#282c34;
}

:root.dark #app .header{
   background: var(--bg-color);
}
:root.dark #app main .art ul{
    background: var(--bg-color);
    color: #fff;
    background: rgba(0,0,0,0.3);
 }
 :root.dark #app main .art ul li h5{
    color: #fff;
 }
 :root.dark #app main .art ul li h5:hover{
    color: red
 }
 :root.dark #app main .art div{
    color: #fff;
    background: var(--bg-color);
    background: rgba(0,0,0,0.3);

 }
