<template>
  <div class="home">
    <input type="text" v-model="todoData.todoText" />
    <a-button @click="handleClickSend">添加</a-button>
    <ul ref="ulo">
      <li v-for="item in todoData.todoList" :key="item.id">
        {{ item.value }}
      </li>
    </ul>
  </div>
</template>
<script setup lang="ts">
import { reactive, ref, onMounted } from "vue"
interface TodoData {
  todoList: Array<{ id: number; value: string }>
  todoText: string
}
let id = 1
//reactive  把对象中所有的属性都转换成响应式属性
const todoData = reactive<TodoData>({
  todoList: [],
  todoText: "",
})
//ref 绑定dom节点
const ulo = ref(null)
//定义方法vue3中的方法都放到了setup中
const handleClickSend = () => {
  todoData.todoList.push({
    id: id++,
    value: todoData.todoText,
  })
  todoData.todoText = ""
}
//vue3中的生命周期也在setup函数中
onMounted(() => {
  console.log(ulo.value)
})
</script>
