/
<template>
  <div class="home">
    <base-header></base-header>
    <main>
      <router-view />
    </main>
    <footer></footer>
  </div>
</template>

<script lang="ts">
export default {}
</script>

<style></style>
